{% extends "::basefront.html.twig" %}
{% block headmeta %}{% endblock %}
{% block stylesheets %}
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,700,700italic,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('frontassets/plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('frontassets/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('frontassets/css/style.css') }}">
{% endblock %}
{% block classname %}body-color4 no-background boxed light fixed-header{% endblock %}
{% block body %}
<div id="main" class="header-style1">

    {{ include('MuzikSpiritFrontBundle:Partial:_header.html.twig') }}

    <div class="container main-wrapper">
        <!-- End Main Banner -->
        <div class="mag-content clearfix">
            {% block topbanner %}{{ include('MuzikSpiritFrontBundle:Partial:_ad728.html.twig') }}{% endblock %}
        </div>
        <!-- End Main Banner -->

        <!-- Begin Main Wrapper -->
        <div class="main-content mag-content clearfix">
            {% block content %}{% endblock %}
        </div><!-- .main-content -->
    </div><!-- .main-wrapper -->
    {{ include('MuzikSpiritFrontBundle:Partial:_footer.html.twig') }}
    {{ include('MuzikSpiritFrontBundle:Partial:_mobile_nav.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('frontassets/js/modernizr.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="{{ asset('frontassets/js/plugins.js') }}"></script>
    <script src="{{ asset('frontassets/js/script.js') }}"></script>
{% endblock %}