<header class="header-wrapper clearfix">

    <div class="header" id="header">
        <div class="container">
            <div class="mag-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Mobile Menu Button -->
                        <a class="navbar-toggle collapsed" id="nav-button" href="#mobile-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a><!-- .navbar-toggle -->

                        <!-- Main Nav Wrapper -->
                        <nav class="navbar mega-menu">
                            <a class="logo" href="{{ path('muzikspirit_front_index_view') }}" title="Admag - Responsive magazine HTML Template" rel="home">
                                <img src="{{ asset('images/site/logo.png') }}" alt="logo"/>
                            </a><!-- .logo -->

                            <!-- Navigation Menu -->
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown mega-full menu-color2">
                                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rap Français</a>
                                        <ul class="dropdown-menu fullwidth">
                                            <li>
                                                <!-- Tababble Menu -->
                                                <div class="tabbable tab-hover tabs-left">
                                                    <ul class="nav nav-tabs tab-hover">
                                                        <li><a href="#a" data-toggle="tab" class="first">News</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-francais' }) }}" >Clips</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-francais' }) }}" >Videos</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-francais' }) }}" >Sons</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-francais' }) }}" >Albums</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-francais' }) }}" >Lyrics</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-francais' }) }}" >Artistes</a></li>
                                                    </ul><!-- .nav .nav-tabs .tab-hover -->

                                                    <div class="tab-content">

                                                        <!-- News Block 1 -->
                                                        <div class="tab-pane active" id="a">

                                                            <div class="mega-menu-news">
                                                                <div class="mega-menu-img">
                                                                    <a href="#">
                                                                        <img src="http://placehold.it/208x149" alt=""/>
                                                                    </a>
                                                                </div>
                                                                <div class="mega-menu-detail">
                                                                    <h4 class="entry-title">
                                                                        <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                                                                    </h4>
                                                                </div>

                                                            </div><!-- .mega-menu-news -->
                                                        </div><!-- .tab-pane -->
                                                    </div><!-- .tab-content -->
                                                </div><!-- .tabbable -->
                                            </li>
                                        </ul><!-- .dropdown-menu .fullwidth -->
                                    </li><!-- .dropdown .menu-color1 -->


                                    <li class="dropdown mega-full menu-color2">
                                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rap US</a>
                                        <ul class="dropdown-menu fullwidth">
                                            <li>
                                                <!-- Tababble Menu -->
                                                <div class="tabbable tab-hover tabs-left">
                                                    <ul class="nav nav-tabs tab-hover">
                                                        <li><a href="#a" data-toggle="tab" class="first">News</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Clips</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Videos</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Sons</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Albums</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Lyrics</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Artistes</a></li>
                                                    </ul><!-- .nav .nav-tabs .tab-hover -->

                                                    <div class="tab-content">

                                                        <!-- News Block 1 -->
                                                        <div class="tab-pane active" id="a">

                                                            <div class="mega-menu-news">
                                                                <div class="mega-menu-img">
                                                                    <a href="#">
                                                                        <img src="http://placehold.it/208x149" alt=""/>
                                                                    </a>
                                                                </div>
                                                                <div class="mega-menu-detail">
                                                                    <h4 class="entry-title">
                                                                        <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                                                                    </h4>
                                                                </div>

                                                            </div><!-- .mega-menu-news -->
                                                        </div><!-- .tab-pane -->
                                                    </div><!-- .tab-content -->
                                                </div><!-- .tabbable -->
                                            </li>
                                        </ul><!-- .dropdown-menu .fullwidth -->
                                    </li><!-- .dropdown .menu-color1 -->

                                    <li class="dropdown mega-full menu-color2">
                                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">RnB</a>
                                        <ul class="dropdown-menu fullwidth">
                                            <li>
                                                <!-- Tababble Menu -->
                                                <div class="tabbable tab-hover tabs-left">
                                                    <ul class="nav nav-tabs tab-hover">
                                                        <li><a href="#a" data-toggle="tab" class="first">News</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rnb' }) }}" >Clips</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rnb' }) }}" >Videos</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rnb' }) }}" >Sons</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Albums</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Lyrics</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Artistes</a></li>
                                                    </ul><!-- .nav .nav-tabs .tab-hover -->

                                                    <div class="tab-content">

                                                        <!-- News Block 1 -->
                                                        <div class="tab-pane active" id="a">

                                                            <div class="mega-menu-news">
                                                                <div class="mega-menu-img">
                                                                    <a href="#">
                                                                        <img src="http://placehold.it/208x149" alt=""/>
                                                                    </a>
                                                                </div>
                                                                <div class="mega-menu-detail">
                                                                    <h4 class="entry-title">
                                                                        <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                                                                    </h4>
                                                                </div>

                                                            </div><!-- .mega-menu-news -->
                                                        </div><!-- .tab-pane -->
                                                    </div><!-- .tab-content -->
                                                </div><!-- .tabbable -->
                                            </li>
                                        </ul><!-- .dropdown-menu .fullwidth -->
                                    </li><!-- .dropdown .menu-color1 -->

                                    <li class="dropdown mega-full menu-color2">
                                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reggae</a>
                                        <ul class="dropdown-menu fullwidth">
                                            <li>
                                                <!-- Tababble Menu -->
                                                <div class="tabbable tab-hover tabs-left">
                                                    <ul class="nav nav-tabs tab-hover">
                                                        <li><a href="#a" data-toggle="tab" class="first">News</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'dancehall' }) }}" >Clips</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rnb' }) }}" >Videos</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rnb' }) }}" >Sons</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Albums</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Lyrics</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Artistes</a></li>
                                                    </ul><!-- .nav .nav-tabs .tab-hover -->

                                                    <div class="tab-content">

                                                        <!-- News Block 1 -->
                                                        <div class="tab-pane active" id="a">

                                                            <div class="mega-menu-news">
                                                                <div class="mega-menu-img">
                                                                    <a href="#">
                                                                        <img src="http://placehold.it/208x149" alt=""/>
                                                                    </a>
                                                                </div>
                                                                <div class="mega-menu-detail">
                                                                    <h4 class="entry-title">
                                                                        <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                                                                    </h4>
                                                                </div>

                                                            </div><!-- .mega-menu-news -->
                                                        </div><!-- .tab-pane -->
                                                    </div><!-- .tab-content -->
                                                </div><!-- .tabbable -->
                                            </li>
                                        </ul><!-- .dropdown-menu .fullwidth -->
                                    </li><!-- .dropdown .menu-color1 -->

                                    <li class="dropdown mega-full menu-color2">
                                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lifestyle</a>
                                        <ul class="dropdown-menu fullwidth">
                                            <li>
                                                <!-- Tababble Menu -->
                                                <div class="tabbable tab-hover tabs-left">
                                                    <ul class="nav nav-tabs tab-hover">
                                                        <li><a href="#a" data-toggle="tab" class="first">News</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'dancehall' }) }}" >Clips</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rnb' }) }}" >Videos</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rnb' }) }}" >Sons</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Albums</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Lyrics</a></li>
                                                        <li><a href="{{ path('muzikspirit_front_clip_list',{'section': 'rap-us' }) }}" >Artistes</a></li>
                                                    </ul><!-- .nav .nav-tabs .tab-hover -->

                                                    <div class="tab-content">

                                                        <!-- News Block 1 -->
                                                        <div class="tab-pane active" id="a">

                                                            <div class="mega-menu-news">
                                                                <div class="mega-menu-img">
                                                                    <a href="#">
                                                                        <img src="http://placehold.it/208x149" alt=""/>
                                                                    </a>
                                                                </div>
                                                                <div class="mega-menu-detail">
                                                                    <h4 class="entry-title">
                                                                        <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                                                                    </h4>
                                                                </div>

                                                            </div><!-- .mega-menu-news -->
                                                        </div><!-- .tab-pane -->
                                                    </div><!-- .tab-content -->
                                                </div><!-- .tabbable -->
                                            </li>
                                        </ul><!-- .dropdown-menu .fullwidth -->
                                    </li><!-- .dropdown .menu-color1 -->

                                </ul><!-- .nav .navbar-nav -->
                            </div><!-- .navbar-collapse -->              <!-- End Navigation Menu -->

                            <div class="header-right">
                                <div class="social-icons">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <!-- Only for Fixed Sidebar Layout -->
                                    <a href="#" class="fixed-button navbar-toggle" id="fixed-button">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                    </a><!-- .fixed-button -->
                                </div><!-- .social-icons -->
                            </div><!-- .header-right -->

                        </nav><!-- .navbar -->

                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Enter your search text..." type="text" value="" name="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search fa fa-search" data-toggle="tooltip" data-placement="bottom" title="Search"></span>
                            </form>
                        </div><!-- .sb-search -->            </div>
                </div>
            </div><!-- .mag-content -->
        </div><!-- .container -->
    </div><!-- .header -->

</header><!-- .header-wrapper -->