{% extends'MuzikSpiritBackBundle:Partial:iframe.html.twig' %}
{% block title %}{{ global_website }} | Admin | {{ titre | title }}{% endblock %}
{% block body %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ titre }}</span>
            <div class="panel-heading-controls">
                <form class="navbar-form pull-left" method="POST" action="{{ path('muzikspirit_back_image_searchforward') }}">
                    <input type="text" name="find" class="form-control" placeholder="Search" value="{{ find | default('') }}">
                    <input type="hidden" name="iframe" value="{{ iframe | default('0') }}">
                    <input type="hidden" name="type" value="{{ type | default('0') }}">
                </form>
            </div>
        </div>


        <div class="panel-body">
            <div class="table-primary">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>edit</th>
                        <th>supp</th>
                        <th>copy</th>
                        <th>img</th>
                        <th>titre</th>
                        <th>type</th>
                        <th>date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in pagination.items %}
                            {% set image = 'http://' ~ global_website_url ~ '/' ~ item.typeImage.path ~ item.image %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>
                                    <a href="{{ path('muzikspirit_back_image_edit',{'id':item.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td align="center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-times"></i></button>
                                        <ul class="dropdown-menu">
                                            <li></li>
                                            <li><a href="{{ path('muzikspirit_back_image_remove',{'id':item.id , 'iframe' : 1}) }}"><i class="fa fa-exclamation"></i>&nbsp;&nbsp;Confirmer la suppression</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td align="center"><a role="button" id="img_{{ item.id }}" class="cp_{{ action | default('') }}  btn btn-large btn-primary" data-value="{{ image }}" data-title="{{ item.titre | url_encode }}"><i class="fa fa-copy"></i></a></td>
                                <td><a href="{{ image }}" target="_blank"><img src="{{ image }}" height="30" width="50" /></a></td>
                                <td>{{ item.titre }}</td>
                                <td>{{ item.typeImage.type }}</td>
                                <td>{{ item.date | date('d/m/y') }}</td>
                            </tr>
                        {% else %}
                            <div class="alert alert-dark">Aucun Article</div>
                        {% endfor %}
                    </tbody>
                </table>

                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('backassets/javascripts/images-functions.js') }}"></script>
{% endblock %}