{% extends'MuzikSpiritBackBundle:Partial:content.html.twig' %}
{% block menu_navigation %}{{ include('MuzikSpiritBackBundle:Partial:top_navigation.html.twig', { 'action': path('muzikspirit_back_image_searchforward') , 'find' : find | default('') }) }}{% endblock %}
{% block title %}{{ global_website }} | Admin | {{ titre | title }}{% endblock %}
{% block contentwrap %}
    <!-- Javascript -->
    <script>
        init.push(function () {
            $('#jq-datatables-example').dataTable();
            $('#jq-datatables-example_wrapper .table-caption').text('Liste des {{ titre | default('') }} : ({{ pagination.getTotalItemCount }})');
            $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Rechercher...');
        });
    </script>
    <!-- / Javascript -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ titre }}</span>
            <div class="panel-heading-controls">
                <a href="{{ path('muzikspirit_back_image_add') }}" class="btn btn-danger pull-right btn-labeled">
                    <span class="btn-label icon fa fa-plus"></span>Ajouter
                </a>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-light">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>edit</th>
                        <th>supp</th>
                        <th>img</th>
                        <th>titre</th>
                        <th>type</th>
                        <th>date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in pagination.items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td align="center"><a href="{{ path('muzikspirit_back_image_edit',{'id':item.id}) }}"><i class="fa fa-edit"></i></a></td>
                                <td align="center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-times"></i></button>
                                        <ul class="dropdown-menu">
                                            <li></li>
                                            <li><a href="{{ path('muzikspirit_back_image_remove',{'id':item.id}) }}" onClick="return confirmLink(this)"><i class="fa fa-exclamation"></i>&nbsp;&nbsp;Confirmer la suppression</a></li>
                                        </ul>
                                    </div>
                                </td>
                                {% if item.image matches '/http/' %}
                                    {% set image = item.image %}
                                {% else %}
                                    {% set image = asset(item.typeImage.path ~ item.image) %}
                                {% endif %}

                                <td><a href="{{ asset(item.typeImage.path ~ item.image) }}" target="_blank"><img src="{{ asset(item.typeImage.path ~ item.image) }}" height="30" width="50" /></a></td>
                                <td>{{ item.titre }}</td>
                                <td>{{ item.typeImage.type }}</td>
                                <td>{{ item.date | date('d/m/y') }}</td>
                            </tr>
                        {% else %}
                            <div class="alert alert-dark">Aucun Article</div>
                        {% endfor %}
                    </tbody>
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('MuzikSpiritBackBundle:Partial:_datatables_javascript.html.twig',{'table_id':'jq-datatables-example'}) }}
{% endblock %}