{% extends'MuzikSpiritBackBundle:Partial:content.html.twig' %}
{% block title %}{{ global_website }} | Admin | {{ titre | title }}{% endblock %}
{% block menu_navigation %}{{ include('MuzikSpiritBackBundle:Partial:top_navigation.html.twig', { 'action': path('muzikspirit_back_album_searchforward') , 'find' : find | default('') }) }}{% endblock %}
{% block contentwrap %}

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ titre }}</span>
        </div>
        <div class="panel-body">
            {{ include('MuzikSpiritBackBundle:Partial:_flash.html.twig') }}
            {{ form_start(form) }}
            {{ form_row(form.titre, {'id': 'titre'}) }}
            {{ form_row(form.artiste, {'id': 'artiste'}) }}
            {{ form_row(form.album, {'id': 'album'}) }}
            {{ form_row(form.tracklist, {'id': 'texte'}) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <a role="button" class="btn btn-large btn-primary images_button" data-toggle="modal" class="images_button"
                       link="{{ path('muzikspirit_back_image_list',{page:1,iframe:1,type:1}) }}">Images Articles</a>
                </div>
            </div>
            {{ form_row(form.texte) }}
            {{ form_row(form.mixtape, {'id': 'mixtape'}) }}
            {{ form_row(form.lien, {'id': 'lien'}) }}
            {{ form_row(form.section, {'id': 'section'}) }}
            <div class="form-group">
                <div class="col-sm-2">{{ form_label(form.image) }}</div>
                <div class="col-sm-7">
                    {{ form_widget(form.image, {'id': 'image'}) }}
                    {{ form_errors(form.image) }}
                </div>
                <div class="col-sm-3">
                    <a role="button" class="btn btn-large btn-primary images_button" data-toggle="modal" class="images_button"
                       link="{{ path('muzikspirit_back_image_list',{page:1,iframe:1,type:5}) }}">Thumb Article</a>
                </div>
            </div>
            {{ form_widget(form.envoyer) }}
            {{ form_widget(form._token) }}
            {{ form_end(form,{'render_rest' : false}) }}
        </div>
    </div>
    {% include('MuzikSpiritBackBundle:Partial:_modal.html.twig') %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('MuzikSpiritBackBundle:Partial:_admin_javascript.html.twig') }}
    {{ include('MuzikSpiritBackBundle:Partial:_tinymce_javascript.html.twig', { 'action': path('muzikspirit_back_news_searchforward') , 'find' : find | default('') }) }}
    {{ include('MuzikSpiritBackBundle:Partial:_modal_javascript.html.twig') }}
{% endblock %}