{% extends'MuzikSpiritBackBundle:Partial:content.html.twig' %}
{% block title %}{{ global_website }} | Admin | {{ titre | title }}{% endblock %}
{% block menu_navigation %}{{ include('MuzikSpiritBackBundle:Partial:top_navigation.html.twig', { 'action': path('muzikspirit_back_news_searchforward') , 'find' : find | default('') }) }}{% endblock %}
{% block contentwrap %}

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ titre }}</span>
        </div>
        <div class="panel-body">
            {{ include('MuzikSpiritBackBundle:Partial:_flash.html.twig') }}
            {{ form_start(form) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <a role="button" id="genius" class="btn btn-large btn-primary">RG</a>
                    <a role="button" id="lyrics" class="btn btn-large btn-primary">Lyrics</a>
                    <a role="button" id="inverse" class="btn btn-large btn-primary">Inverse</a>
                    <a role="button" id="vire" class="btn btn-large btn-primary">Vire Gui</a>
                    <a role="button" id="clean" class="btn btn-large btn-primary">Clean</a>
                    <a role="button" id="clean_fin" class="btn btn-large btn-primary">Clean Fin</a>
                    <a role="button" id="feat" class="btn btn-large btn-primary">Featuring</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">{{ form_label(form.titre) }}</div>
                <div class="col-sm-7">
                    {{ form_widget(form.titre, {'id': 'titre'}) }}
                    {{ form_errors(form.titre) }}
                </div>
                <div class="col-sm-3">
                    <a role="button" id="feat_start" class="btn btn-large btn-primary">Feat.</a>
                    <a role="button" id="feat_end" class="btn btn-large btn-primary">Feat. End</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">{{ form_label(form.artiste) }}</div>
                <div class="col-sm-7">
                    {{ form_widget(form.artiste, {'id': 'artiste'}) }}
                    {{ form_errors(form.artiste) }}
                    <input id="son" name="son" value="" placeholder="son" />
                    <input id="featuring" name="featuring" value="" placeholder="featuring" />
                </div>
                <div class="col-sm-3">
                    <a role="button" id="miniature" class="btn btn-large btn-primary">Miniature</a>
                    <a role="button" id="feat_end" class="btn btn-large btn-primary">Feat. End</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">{{ form_label(form.thumbNews) }}</div>
                <div class="col-sm-7">
                    {{ form_widget(form.thumbNews, {'id': 'thumbNews'}) }}
                    {{ form_errors(form.thumbNews) }}
                </div>
                <div class="col-sm-3">
                    <a role="button" class="btn btn-large btn-primary images_button" data-toggle="modal" class="images_button"
                       link="{{ path('muzikspirit_back_image_list',{page:1,iframe:1,type:2}) }}">News Thumb</a>
                </div>
            </div>
            {{ form_row(form.texte, {'id': 'texte'}) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <a role="button" class="btn btn-large btn-primary images_button" data-toggle="modal" class="images_button"
                       link="{{ path('muzikspirit_back_image_list',{page:1,iframe:1,type:1}) }}">Images Articles</a>
                </div>
            </div>

            {{ form_row(form.section, {'id': 'section'}) }}
            <div class="form-group">
                <div class="col-sm-2">{{ form_label(form.image) }}</div>
                <div class="col-sm-7">
                    {{ form_widget(form.image, {'id': 'image'}) }}
                    {{ form_errors(form.image) }}
                </div>
                <div class="col-sm-3">
                    <a role="button" class="btn btn-large btn-primary images_button" data-toggle="modal" class="images_button"
                       link="{{ path('muzikspirit_back_image_list',{page:1,iframe:1,type:5}) }}">Thumb Article</a>
                </div>
            </div>
            {{ form_row(form.adult, {'id': 'adult'}) }}
            {{ form_widget(form.envoyer) }}
            {{ form_widget(form._token) }}
            {{ form_end(form,{'render_rest' : false}) }}
        </div>
    </div>
    {% include('MuzikSpiritBackBundle:Partial:_modal.html.twig') %}
{% endblock %}
{% block javascripts %}
    {{ include('MuzikSpiritBackBundle:Partial:_admin_javascript.html.twig') }}
    {{ include('MuzikSpiritBackBundle:Partial:_tinymce_javascript.html.twig') }}
    {{ include('MuzikSpiritBackBundle:Partial:_modal_javascript.html.twig') }}
{% endblock %}