{% extends 'MuzikSpiritFrontBundle:Partial:content.html.twig' %}
{% block title %}{{ clip.titre }} Clip{% endblock %}
{% block content %}
    {% import "MuzikSpiritFrontBundle:Partial:_macro_article.html.twig" as article %}
    <div class="row blog-content" data-stickyparent>
        <div class="col-md-8" data-stickycolumn>
            <article class="post-wrapper clearfix">
                <header class="post-header">
                    <h1 class="post-title">
                        {{ clip.titre }}
                    </h1><!-- .post-title -->
                    {{ article.info(clip.user, clip.user.id, clip.date|ago, clip.vues) }}
                    <figure class="image-overlay">
                        {{ clip.media | BBCode | raw }}
                    </figure>
                </header><!-- .post-header -->

                <div class="post-content clearfix">
                    <div>
                        <p>
                            {{ clip.texte }}
                        </p>
                    </div>
                </div><!-- .post-content -->

                <footer class="post-meta">
                    {{ article.share('http://www.'~ app.request.host ~ path('muzikspirit_front_clip_view',{'id':clip.id,'slug':clip.slug}),clip.image,'desc','1' ) }}
                    {{ article.tagGenerator('gplus#faceBook#test#twitter#lily') }}
                    {{ article.author(clip.user.image, clip.user,clip.user.id, clip.user.bio, clip.user.email, clip.user.website, 'twitter', 'facebook', 'gplus') }}
                </footer>

            </article><!-- .post-wrapper -->
            {{ article.ad('728',0) }}
            <div>
                {% include 'MuzikSpiritFrontBundle:Partial:_disqus.html.twig' %}
            </div>
        </div><!-- End Left big column -->

        <div class="col-md-4" data-stickycolumn>
            <aside class="sidebar clearfix">
                <div class="widget adwidget">
                    {{ article.ad('336',0) }}
                </div>
            </aside>
        </div><!-- End last column -->
    </div><!-- .blog-content -->
{% endblock %}
{% block javascript %}
parent();
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'muzikspirit';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}